<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete users</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create users</a>
        <a href="/edit" class="active">Update Users</a>
    </div>

    <div class="form-add-new">
        <form action="/delete-user" method="post">
            <fieldset>
                <legend>Delete a users</legend>

                <div class="input_group d-none">
                    <label for="">ID: </label>
                    <input type="text" name="userID" value="<%= userEdit.id  %>">
                </div>

                <div class="input_group">
                    <label for="">Bạn có chắc chắn xóa Email? </label>
                    <input type="text" name="email" value="<%= userEdit.email  %>">
                </div>
                <button>Confirm</button>
    </div>
    </fieldset>
    </form>
    </div>
</body>

</html>